// Button
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
// .shiny   - Do not press this big, shiny, red button.
//
// Markup: <button class="a-button">test</button>
//
// Style guide: components.button

.border {
  border: 1px solid yellow;
}

.a-button {
  @extend .border;
  background: red;
  padding: 2rem;
  color: blue;
}